body{
    font-size: 30px;
}

section #top > div{
    border-style: dotted;
    text-align: center;
    vertical-align: middle;

    
}

#a{
    height: 75px;
    width: 480px;
}

#b{
    height:150px;
    width: 480px;
}
#c{
    height: 125px;
    width: 480px;
}
#d{
    height: 125px;
    width: 480px;
}

section #middle > div{
    border-style: solid;
    float: left;
    width: 240px;
    height: 250px;
}

#bottom{
    
    width: 480px;
    height: 80px;
}